<div class="mb-4">
    <div class="progress mt-2 mb-1">
        <div role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped" {% if width | length > 0 %} style="{{ width }}"{% endif %}></div>
    </div>
    <div class="free-shipping-missing-amount small text-uppercase text-center">
        {% if percentage == 100 %}<i class="fa fa-check"></i>&nbsp;{% endif %}{{ label | raw }}
    </div>
</div>

<script id="free-shipping-config" type="application/json">
    {
        "initialData": {
            "amount": {{ itemSum }},
            "percentage": {{ percentage }}
        },
        "grossValue": {{ grossValue }},
        "currency": "{{ currency }}",
        "messages": {
            "goal": {{ trans("FreeShippingGoal::Template.MessageGoal") | json_encode | raw }},
            "missing": {{ trans("FreeShippingGoal::Template.MessageMissing") | json_encode | raw }}
        },
        "icons": {
            "goal": "<i class=\"fa fa-check\"><\/i>"
        }
    }
</script>